body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    font-family: sans-serif;
    background-color: #f8f9fa;
}

.title {
    text-align: center;
    margin-bottom: 2rem; /* Espacio entre el título y la reseña */
}

.title h2 {
    color: hsl(209, 61%, 16%);
    font-size: 3.4rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
}

.underline {
  height: 0.25rem;
  width: 5rem;
  background: hsl(205, 78%, 60%);
  margin-left: auto;
  margin-right: auto;
}

.container {
    margin: 0;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 80vw;
    max-width: 600px;
    text-align: center;
    /* Eliminamos el margen inferior para que esté más cerca del título */
    margin-bottom: 0;
}

.review {
  padding: 1.5rem 2rem;
  border-radius: 2rem;
  transition: all 0.3s linear;
  text-align: center;
}

.img-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

#person-img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}

.img-container::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f10e";
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transform: translateY(25%);
  color: #fff;
  background: hsl(205, 78%, 60%);
}

.img-container::before {
  content: "";
  width: 100%;
  height: 100%;
  background: hsl(205, 78%, 60%);
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  border-radius: 50%;
}

#job {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: hsl(205, 78%, 60%) ;
  font-size: 0.85rem;
}

.review h4 {
    color: hsl(209, 34%, 30%);
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
    line-height: 1.25; 
    text-transform: capitalize;
}

.review p#job {
    color: hsl(205, 78%, 60%);
    margin-bottom: 0.75rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.85rem;
    letter-spacing: 0.1rem;
}

.review p#info {
    color: hsl(209, 61%, 16%);
    margin-bottom: 1.25rem;
    font-size: 1.2rem;
    line-height: 1.5;
}

/* Buttons */

.prev-btn,
.next-btn {
  color: hsl(205, 90%, 76%);
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: all 0.3s linear;
  cursor: pointer;
}
.prev-btn:hover,
.next-btn:hover {
  color:hsl(205, 78%, 60%);
}

/* Random Button */
.random-btn {
  margin-top: 1.5rem;
  background: hsl(205, 100%, 96%);
  color: hsl(205, 90%, 76%);
  padding: 0.25rem 0.5rem;
  text-transform: capitalize;
  border-radius: 0.3rem;
  transition: all 0.3s linear;
  border-color: hsl(205, 90%, 76%);
  cursor: pointer;
}